{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h2>{{ location.name }}</h2>
  <p>{% trans "Address:" %} {{ location.address }}</p>
  <h3>{% trans "Available Vehicles" %}</h3>

  <ul>
    {% for vehicle in available_vehicles %}
      <li>{{vehicle.code}} - {{ vehicle.type.model }} - {{ vehicle.type.brand }}
        <form action="{% url 'rent_vehicle' vehicle.code %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">{% trans "Rent" %}</button>
        </form>
      </li>
    {% empty %}
      <li>{% trans "No vehicles available at this location." %}</li>
    {% endfor %}
  </ul>
{% endblock %}
