{% extends "base.html" %}

{% load i18n %}
{% load tz %}
{% load static %}

{% block title %}
    {% trans "Trip Detail" %}
{% endblock title %}

{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock navbar %}

{% block content %}
    <div class="content">
        <div class="container d-flex flex-column align-items-center">
            <h2 class="mb-4">{% trans "Trip Details" %}</h2>

            <div class="bg-white rounded shadow-sm p-4 w-100 max-w-3xl">
                <div class="vehicle-details mb-4">
                    <h3 class="h4 mb-3">{% trans "Vehicle Information" %}</h3>
                    <p>
                        <strong>{% trans "Vehicle" %}:</strong> {{ trip.vehicle.code }}
                    </p>
                    <p>
                        <strong>{% trans "Vehicle Model" %}:</strong> {{ trip.vehicle.type.model }}
                    </p>
                    <p>
                        <strong>{% trans "Vehicle Brand" %}:</strong> {{ trip.vehicle.type.brand }}
                    </p>
                </div>

                <div class="trip-details mb-4">
                    <h3 class="h4 mb-3">{% trans "Trip Information" %}</h3>
                    <p>
                        <strong>{% trans "Username" %}:</strong> {{ trip.user }}
                    </p>
                    <p>
                        <strong>{% trans "Start Time" %}:</strong> {{ trip.start_time|timezone:"Europe/London" }}
                    </p>
                    <p>
                        <strong>{% trans "Start Location" %}:</strong> {{ trip.start_location.name }}
                    </p>

                    {% if trip.status == "completed" %}
                        <p>
                            <strong>{% trans "End Time" %}:</strong> {{ trip.end_time|timezone:"Europe/London" }}
                        </p>
                        <p>
                            <strong>{% trans "End Location" %}:</strong> {{ trip.end_location.name }}
                        </p>
                        <p>
                            <strong>{% trans "Duration" %}:</strong> {{ trip.formatted_duration }}
                        </p>
                        <p>
                            <strong>{% trans "Cost" %}:</strong> £{{ trip.compute_cost }}
                        </p>
                        <p>
                            <strong>{% trans "Payment Status" %}:</strong> {{ trip.payment.status|title }}
                        </p>

                        {% if trip.payment.status == 'pending' %}
                            <div class="mt-3">
                                <form method="post"
                                      action="{% url 'trip_payment' trip.pk trip.payment.pk %}"
                                      class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-cr-dark">{% trans "Make Payment" %}</button>
                                </form>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning text-center">{% trans "This trip is currently in progress." %}</div>

                        <h3 class="h4 mt-4 mb-3">{% trans "Return Vehicle" %}</h3>
                        <form method="post"
                              action="{% url 'return_vehicle' trip.pk %}"
                              class="mt-3">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="id_end_location" class="form-label">{% trans "End Location:" %}</label>
                                {{ return_vehicle_form.end_location }}
                            </div>
                            <div class="d-flex gap-3 justify-content-center mt-3">
                                <button type="submit" class="btn btn-cr-dark">{% trans "Return Vehicle" %}</button>
                            </div>
                        </form>
                    {% endif %}

                    <div class="d-flex gap-3 justify-content-center mt-3">
                        <form method="post"
                              action="{% url 'report_vehicle' trip.pk %}"
                              class="d-inline">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-cr-dark"
                                    {% if trip.vehicle.status == 'defective' %}disabled data-bs-toggle="tooltip"{% endif %}>{% trans "Report" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
