{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Home" %}
{% endblock title %}

{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock navbar %}

{% block content %}
    <div style="flex: 1;">
        <section id="home"
                 class="p-5 bg-dark text-light text-center text-md-start mt-2">
            <div class="container">
                <div class="d-flex align-items-center">
                    <div>
                        <h1>
                            {% trans "Welcome to " %}<span class="text-warning">Clyde Ryde</span>
                        </h1>
                        <p class="my-4 mt-2 p-1">
                            {% trans "Clyde Ryde is your go-to app for convenient urban transportation. We offer three distinct vehicle types to suit your travel needs: bicycles, electric bikes, and scooters. With our platform, you can easily navigate the city and find the perfect ride at any time. Experience the freedom to move around effortlessly, with the flexibility to pick up and drop off wherever you like. Join us in revolutionizing urban mobility!" %}
                        </p>
                        {% if not user.is_authenticated %}
                            <a href="{% url 'customer_register' %}"
                               class="btn btn-lg btn-cr-light m-1">{% trans "Register" %}</a>
                            <a href="{% url 'customer_login' %}" class="btn btn-lg btn-cr-light m-1">{% trans "Login" %}</a>
                        {% endif %}
                    </div>
                    <img src="{% static 'images/main_image.webp' %}"
                         alt="portfolio-image"
                         class="w-50 d-none d-lg-block" />
                </div>
            </div>
        </section>
        <section id="fleet" class="p-3 text-center d-none d-lg-block">
            <div class="container mt-3">
                <h1>{% trans "Our Fleet" %}</h1>
                <div class="row">
                    {% for vt in vehicle_types %}
                        <div class="col-md-4">
                            <div class="card bg-dark text-light" style="width: 24rem;">
                                <img src="{{ vt.image.url }}" class="card-img-top" alt="{{ vt.name }}">
                                <div class="card-body">
                                    <h5 class="card-title text-light">{{ vt.model }} - {{ vt.brand }}</h5>
                                    <p class="card-text text-light">{{ vt.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12">
                            <h2 class="text-dark">
                                {% trans "We are working hard to bring our fleet to you soon!" %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="p-5 text-center" id="response">
            <div class="container">
                <h1>{% trans "Social Responsibility" %}</h1>
                <div class="row align-items-center mt-5">
                    <div class="col-md-4">
                        <div class="stat col-md-4 ms-auto">
                            <p id="social">
                                635<span class="ml-2" style="font-size: 0.4em; color: black;">Km</span>
                            </p>
                            <p>{% trans "Total Cycling Distance" %}</p>
                        </div>
                        <div class="stat col-md-4 ms-auto">
                            <p id="social">
                                158<span style="font-size: 0.4em; color: black;">Ml</span>
                            </p>
                            <p>{% trans "Number of orbits around the Earth" %}</p>
                        </div>
                        <div class="stat col-md-4 ms-auto">
                            <p id="social">
                                278<span style="font-size: 0.4em; color: black;">Kg</span>
                            </p>
                            <p>{% trans "Cumulative reduction in carbon emissions" %}</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img src="{% static 'images/index_earth.gif' %}" alt="Earth" class="w-100">
                    </div>
                </div>
            </div>
        </section>
        <section class="p-5" id="faq">
            <div class="container">
                <h2 class="text-center">{% trans "FAQ" %}</h2>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                <strong>{% trans "What types of vehicles are available?" %}</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseOne"
                             class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                {% trans "At Clyde Ryde, we offer a diverse fleet of vehicles to cater to your urban transportation needs. You can choose from bicycles, electric bikes, and scooters, each designed for a comfortable and efficient ride around the city. Whether you're commuting to work or exploring, we have the perfect vehicle for you!" %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                <strong>{% trans "How do I rent a vehicle?" %}</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo"
                             class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                {% trans "Renting a vehicle with Clyde Ryde is easy! First, create your account on our platform. Once you're logged in, you can browse available vehicles based on your preferred location. After selecting your desired vehicle, you can start your trip!" %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                <strong>{% trans "How do I pay for a trip?" %}</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseThree"
                             class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                {% trans "We strive to make your payment process seamless and secure. You can conveniently pay using your Clyde Ryde wallet, which you can top up as needed, ensuring a hassle-free rental experience every time!" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-5" id="contact">
            <div class="container">
                <h2 class="text-center mb-4">{% trans "Contact Us" %}</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="bi bi-telephone me-2"></i>
                        <strong>{% trans "Phone" %}:</strong><a href="tel:+447587657475">+44 (0) 7587 657475</a>
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-envelope me-2"></i>
                        <strong>{% trans "Email" %}:</strong><a href="mailto:clyde-ryde@student.gla.uk">clyde-ryde@student.gla.uk</a>
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-geo-alt me-2"></i>
                        <strong>{% trans "Address" %}:</strong><a href="https://www.google.com/maps/search/?api=1&query=1028+Boyd+Orr+Building,+University+Ave,+Glasgow+G12+8SP"
   target="_blank">1028 Boyd Orr Building, University Ave, Glasgow G12 8SP</a>
                    </li>

                </ul>
            </div>
        </section>
    </div>
{% endblock content %}
