{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% block title %}
    Clyde Ryde | Home
{% endblock title %}

{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock navbar %}

{% block content %}
    <section id="home"
             class="p-5 bg-dark text-light text-center text-md-start mt-2">
        <div class="container">
            <div class="d-flex align-items-center">
                <div>
                    <h1>
                        Welcome to <span class="text-warning">Clyde Ryde</span>
                    </h1>
                    <p class="my-4 mt-2">
                        Clyde Ryde is your go-to app for convenient urban transportation. We offer three distinct vehicle types to suit your travel needs: bicycles, electric bikes, and scooters. With our platform, you can easily navigate the city and find the perfect ride at any time. Experience the freedom to move around effortlessly, with the flexibility to pick up and drop off wherever you like. Join us in revolutionizing urban mobility!
                    </p>
                    <button class="btn btn-primary btn-lg">Start to rent vehicle</button>
                </div>
                <img src="{% static 'images/main_image.webp' %}"
                     alt=""
                     class="w-50 d-none d-lg-block" />
            </div>
        </div>
    </section>
    <section id="rent" class="p-3 text-center d-none d-lg-block">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-dark" style="width: 24rem;">
                        <img src="{% static 'images/bike.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-light">Bicycles</h5>
                            <p class="card-text text-light">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-secondary" style="width: 24rem;">
                        <img src="{% static 'images/electric bike.webp' %}"
                             class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-light">Electric Bikes</h5>
                            <p class="card-text text-light">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark" style="width: 24rem;">
                        <img src="{% static 'images/scooter.webp' %}"
                             class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-light">Scooters</h5>
                            <p class="card-text text-light">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-5" id="response">
        <div class="container">
            <h1>Social Responsibility</h1>
            <div class="row align-items-center mt-5">
                <div class="col-md-4">
                    <div class="stat col-md-4 ms-auto">
                        <p id="social">
                            635<span class="ml-2" style="font-size: 0.4em; color: black;">Km</span>
                        </p>
                        <p>Total Cycling Distance</p>
                    </div>
                    <div class="stat col-md-4 ms-auto">
                        <p id="social">
                            158<span style="font-size: 0.4em; color: black;">Ml</span>
                        </p>
                        <p>Number of orbits around the Earth</p>
                    </div>
                    <div class="stat col-md-4 ms-auto">
                        <p id="social">
                            278<span style="font-size: 0.4em; color: black;">Kg</span>
                        </p>
                        <p>Cumulative reduction in carbon emissions</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <img src="{% static 'images/index_earth.gif' %}" alt="Earth" class="w-100">
                </div>
            </div>
        </div>
    </section>
    <section class="p-5" id="faq">
        <div class="container">
            <h2 class="text-center">FAQ</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne"
                                aria-expanded="false"
                                aria-controls="flush-collapseOne">Accordion Item #1</button>
                    </h2>
                    <div id="flush-collapseOne"
                         class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Placeholder content for this accordion, which is intended to demonstrate
                            the <code>.accordion-flush</code> class. This is the first item's accordion body.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo"
                                aria-expanded="false"
                                aria-controls="flush-collapseTwo">Accordion Item #2</button>
                    </h2>
                    <div id="flush-collapseTwo"
                         class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Placeholder content for this accordion, which is intended to demonstrate
                            the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine
                            this being filled with some actual content.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree"
                                aria-expanded="false"
                                aria-controls="flush-collapseThree">Accordion Item #3</button>
                    </h2>
                    <div id="flush-collapseThree"
                         class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Placeholder content for this accordion, which is intended to demonstrate
                            the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                            exciting happening here in terms of content, but just filling up the space to make it look, at
                            least at first glance, a bit more representative of how this would look in a real-world
                            application.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-5" id="contact">
        <div class="container">
            <h2 class="text-center mb-4">Contact Us</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Phone: 123456789</li>
                <li class="list-group-item">Email: 123456@gla.uk</li>
                <li class="list-group-item">Address: G11</li>
            </ul>
        </div>
    </section>
{% endblock content %}
