{% load i18n %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand"><i class="bi bi-bicycle"> Clyde Ryde</i></a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#fleet">Our Fleet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#response">Social Responsibility</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#contact">Contact Us</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if user.type == 'customer' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'location_list' %}">{% trans "Rent a Vehicle" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'customer_dashboard' %}">{% trans "Dashboard" %}</a>
                        </li>
                    {% elif user.type == 'operator' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vehicle_list' %}">{% trans "Track Vehicles" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'operator_dashboard' %}">{% trans "Dashboard" %}</a>
                        </li>
                    {% elif user.type == 'manager' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'revenue' %}">{% trans "Revenue" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'location_popularity' %}">{% trans "Location Popularity" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'trip_duration' %}">{% trans "Trip Duration" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vehicle_count' %}">{% trans "Vehicle Count" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vehicle_usage' %}">{% trans "Vehicle Usage" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'manager_dashboard' %}">{% trans "Dashboard" %}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'customer_logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">{% trans "Logout" %}</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="loginDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">{% trans "Login" %}</a>
                        <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'customer_login' %}">{% trans "Customer" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'operator_login' %}">{% trans "Operator" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'manager_login' %}">{% trans "Manager" %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer_register' %}">{% trans "Register" %}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="languageDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">{% trans "Language" %}</a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <li>
                                    <a class="dropdown-item
                                              {% if language.code == LANGUAGE_CODE %}active{% endif %}"
                                       href="/{{ language.code }}/">{{ language.name_local }} ({{ language.code }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
